$font-name:                           "iranyekan" !default;
$font-path:                           "/assets/patch/fonts/iranyekan" !default;

$font-regular_file:                   "iranyekan-Regular.woff" !default;
$font-regular_weight:                 normal !default;

$font-light_file:                     "iranyekan-Light.woff" !default;
$font-light_weight:                   300 !default;

$font-bold_file:                      "iranyekan-Bold.woff" !default;
$font-bold_weight:                    700 !default;
